/* Inserta tu código de la página columnistas acá */

.autor-ctn{
    border: 1px solid #dbd9d9;
    padding: 3%;
    margin: 5% 0;
 }
 .autor-tema{
    background: #e3e2e2;
    padding: 5% 0;
    margin: 1%;
     }
 .autor-tema img{
     margin: 1%;
 }
 .gris{
     color: #a38f8f;
}
button{
    background: red;
    color: #fff;
    padding:1%;
    margin: 1%
}
/*----section2---------*/

.menu{
    background: red;
}
.menu ul{
    float: right;
    padding-top: 10px
    
}
.menu li{
    margin: auto 25px;
    color: #fff;
    font-size: 17px;
}
.parrafos{
    float: right;
}
.autores{
    margin: 10px auto;
}

.autortema{
    background:  #e3e2e2;
    padding: 5% ;
    margin: 1%;
}
