
.autor-ctn{
    outline: 1px solid #dbd9d9;
    padding: 3%;
    margin: 5% 0;
}
.autor-tema{
    background: #e3e2e2;
    padding: 5% 0;
    margin: 1%;
    }
.autor-tema img{
    margin: 1%;
}
.gris{
    color: #a38f8f;
}

/* Inserta tu código común entre todas las páginas acá */
*{
    outline: 1px solid red;
}
/*--------SECTION HEADER--------*/
  /*--------header-dos------*/
.header-dos{
    margin: 0;
    padding: 8px 0 0 0;
    
}
header .top{
    width: 100%;
}
header button .boletin{
    border-radius: 5px;
    background-color: rgb(230, 128, 115);
    color: white;
    border: 1px; 
    width: 35%;
}
header button span{
    font-size: 10px;
}
header .azul{
    color: mediumblue;
}
header .celeste{
    color: deepskyblue;
}
header .rojo{
    color: rgb(230, 128, 115);
}
header .amarillo{
    color: orange;
}
header .naranja{
    color: darkorange;
}
header i{
    padding: 0 6px;
}
header input{
    position: absolute;
    width: 125px;
    padding: 
}
.buscar{
    position: relative;
    left: 25%;
}

  /*-------------header la-republica-----*/
.logo-republica{

}
/*-----------------ICONOS-----------------*/
.icon{
    width: 20px;
    background: #f2f2f2;
    text-shadow: none;
    text-align: center;
    border-radius: 3px;
}
.icon:hover{
    color: black
}
.fb{box-shadow: 0px 4px #3b5998;
    border-radius: 3px;}
.fb .icon{color: #3b5998;}
.tw{box-shadow: 0px 4px #33ccff;
    border-radius: 3px;}
.tw .icon{color: #33ccff;}
.gb{box-shadow: 0px 4px #dc4a38;
    border-radius: 3px;}
.gb .icon{color: #dc4a38;}
/*-------------------------------------*/



























/*-----------------ICONOS-----------------*/
.icon{
    width: 20px;
    background: #f2f2f2;
    text-shadow: none;
    text-align: center;
    border-radius: 3px;
}
.icon:hover{
    color: rgba(0,0,0,0.5);
}
.fb{box-shadow: 0px 4px #3b5998;
    border-radius: 3px;}
.fb a{color: #3b5998;}
.tw{box-shadow: 0px 4px #33ccff;
    border-radius: 3px;}
.tw a{color: #33ccff;}
.gb{box-shadow: 0px 4px #dc4a38;
    border-radius: 3px;}
.gb a{color: #dc4a38;}
/*-------------------------------------*/

