/* Inserta tu código común entre todas las páginas acá */
*{
    outline: 1px solid red;
}
/*--------SECTION HEADER--------*/
  /*--------header-dos------*/
.header-dos{
    margin: 0;
    padding: 8px 0 0 0;
    
}
header .top{
    width: 100%;
}
header button.boletin{
    border-radius: 5px;
    background-color: rgb(230, 128, 115);
    color: white;
    border: 1px; 
    width: 35%;
}
header button span{
    font-size: 10px;
}
header .azul{
    color: mediumblue;
}
header .celeste{
    color: deepskyblue;
}
header .rojo{
    color: rgb(230, 128, 115);
}
header .amarillo{
    color: orange;
}
header .naranja{
    color: darkorange;
}
header .redes{
    padding: 0 6px;
}
header input{
    position: absolute;
    width: 125px;
    padding: 
}
.buscar{
    position: relative;
    left: 25%;
}

  /*-------------header la-republica-----*/
.logo-republica{
    
}
.logo-republica .domingo{
    box-sizing: border-box;
    border: 1px solid darkgray;
    border-bottom: 3px solid #a00101;
    padding: 12px;
    text-align: center;
}
.domingo span{
    background-color: #a00101;
    color: white;
    padding: 5px;
    position: relative;
    bottom: 18px;
}
.gustavo{
    margin: 0;
    padding: 0;
    background: black;
}
.gustavo .origenes{
    background: white;
    
}
header .menu-principal{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    background: red;
}
.menu_bar{
    display: none;
}

header .menu-principal .menu-lista{
    overflow: hidden;
    margin: 0;
}
header .menu-principal .menu-lista li{
    float: left;
    border-left: 1px solid darkgray;
}
header .menu-principal .menu-lista li a{
    color: white;
    padding: 6px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
}
header .menu-principal .menu-lista li:hover{
    background: rgb(57, 87, 188);
}
.temas-dia{
    background: black;
    color: white;
    font-size: 13px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    padding: 10px;
}
.menu2 .menu-temas{
    background-color: rgb(235, 235, 235);
    padding-top: 8px;
}
.menu-temas ul li a{
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0 10px; 
}

/*-----------SECTION FOOTER---------*/
footer .container{
   
}
footer .container{
    background-color: rgb(235, 235, 235);
}
footer ul{
    list-style: none;
}
footer ul li a{
    color: black;
}
footer .direccion{
    margin: 10% 0;
}
/*------RESPONSIVE--------*/
@media screen and (max-width:800px){
    header .menu-principal{
        width: 80%;
        height: 60%;
        left: -100%;
        margin: 0;
        position: fixed;
        z-index: 2000;
    }
    header .menu-principal .menu-lista li{
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.27)
    }
    .menu_bar{
        display: block;
        width: 100%;
        background: red;
    }
    .menu_bar .btn-menu{
        display: block;
        padding: 20px;
    }
    .menu_bar .hamburguesa{
        float: right;
        font-size: 28px;
        color: white;
    }
}























