
/*--------------------ULTIMAS NOTICIAS----*/

.last-news .col-md-10 ul{
	list-style: none;
	padding: 0
}
.last-news .col-md-10 li{
	display: block;
}


.last-news .col-md-6 img{
width: 100%
}
.last-news .img-sus{
	width: 60px
}



*{
    outline: 1px solid rgba(0,255,0,0.3);
}
/* NOTICIA-PRINCIPAL */

