/*--------------------COLUMNISTAS---------*/
.fondo{
    background: #F2F2F2;
    margin-top: 40px;
}
.cols{
    margin: 0;
}
.columnistas .fondo{
    border-top: 5px solid #AA1801;
}
.columnistas .separador{
    position: relative;
    margin-bottom: 30px;
}
.columnistas img{
	border: 4px solid #fff;
}
.columnistas .separador h3{
	width: 200px;
    position: absolute;
	background: #AA1801;
	color: #fff;
    padding: 5px;
    top: -35px;
    margin-left:40%; 
}
.colum-text ul{
  list-style: none;
    padding: 0;
}
.colum-text ul li{
    padding: 0;
    display: inline-block;
	vertical-align: top;
    width: 115px;
    padding-right: 3px;
}
.separador a{
    font-family: "Oswald";
}
.columnistas a{
	color: #fff;
}
.columnistas .texto{
    color: #000;
}
.columnistas .negrita{
	color: #000;
    font-weight: bold;
}
@media screen and (max-width:760px){
    .columnistas {margin:0 20px;}
}
@media screen and (max-width:460px){
    .columnistas .separador h3{margin-left:25%}
}
@media screen and (max-width:360px){
    .columnistas .separador h3{margin-left:15%}
}



